extends pagelayout

block append css
	link(rel='stylesheet', href='/stylesheets/codesoar.home.css')

block append scripts
	script(type='text/javascript', src='/javascripts/ace.js', charset='utf-8')

block content
	h1.text-center Co-Op Code in Real-Time
	h2.text-center
		span(style="color:#FF0000;") WARNING:
		|  CodeSoar.com is undergoing a revamp. Whether they break the entire
		| application or not updates are being pushed as they need testing. Since my analytics
		| show that not that many people are using this site right now, I'm not too bothered by having 
		| the site not work for a week or so.
	h2.text-center -
	h2.text-center
		strong(style="color:#0000FF;") QUERY:
		|  So, during this time of chaos I have one question for you and one question 
		| alone...
	h2.text-center -
	h2.text-center
		strong(style="color:#FF0000;") EXPLOSIONS?
	img.text-center(src="/images/explosion.jpg")
	h2.text-center -
	p.text-center
		| Copy and Paste some code, select the language and press go!
		| Share the link and collaborate with friends!
	div#editor_demo
		| 
		| function add(x, y) {
		| 	console.log("Coding is fun! Even more with friends!");
		| 
		| 	//Math is Hard...
		|	return 4;
		| }
		| 
		| var addResult = add(3, 2);
		| console.log(addResult);
	br
	div.row-fluid
		div.span2
		div.span6
			label Language:
			select#language_select
				option(data-att='adap') ADAP
				option(data-att='actionscript') Actionscript
				option(data-att='asciidoc') ASCIIDoc
				option(data-att='autohotkey') AutoHotkey
				option(data-att='batchfile') Batch File
				option(data-att='c9search') C9Search
				option(data-att='clojure') Clojure
				option(data-att='coffee') Coffee Script
				option(data-att='coldfusion') ColdFusion
				option(data-att='csharp') C#
				option(data-att='css') CSS
				option(data-att='curly') Curly
				option(data-att='c_cpp') C++
				option(data-att='dart') Dart
				option(data-att='diff') Diff
				option(data-att='django') Django
				option(data-att='dot') Dot
				option(data-att='erlang') Erlang
				option(data-att='forth') Forth
				option(data-att='ftl') FTL
				option(data-att='glsl') GLSL
				option(data-att='golang') Golang
				option(data-att='groovy') Groovy
				option(data-att='haml') Haml
				option(data-att='haskell') Haskell
				option(data-att='haxe') Haxe
				option(data-att='html') HTML
				option(data-att='html_ruby') HTML-Ruby 
				option(data-att='ini') INI
				option(data-att='jade') Jade
				option(data-att='java') Java
				option(data-att='javascript', selected) Javascript
				option(data-att='json') JSON
				option(data-att='jsoniq') JSONIQ
				option(data-att='jsp') Jsp
				option(data-att='jsx') Jsx
				option(data-att='julia') Julia
				option(data-att='latex') Latex
				option(data-att='less') Less
				option(data-att='liquid') Liquid
				option(data-att='lisp') LISP
				option(data-att='livescript') Livescript 
				option(data-att='logiql') Loqiql
				option(data-att='lsl') Lsl
				option(data-att='lua') Lua
				option(data-att='luapage') Luapage 
				option(data-att='lucene') Lucene
				option(data-att='makefile') MakeFile
				option(data-att='markdown') Markdown
				option(data-att='mushcode') MushCode
				option(data-att='mushcode_high_rules') MushCode High Rules
				option(data-att='objectivec') Objective-C
				option(data-att='ocaml') OCaml
				option(data-att='pascal') Pascal
				option(data-att='perl') Perl
				option(data-att='pgsql') Postgre SQL
				option(data-att='php') PHP
				option(data-att='powershell') PowerShell
				option(data-att='prolog') Prolog
				option(data-att='properties') Properties
				option(data-att='python') Python
				option(data-att='r') R
				option(data-att='rdoc') RDoc 
				option(data-att='rhtml') rHTML
				option(data-att='ruby') Ruby
				option(data-att='rust') Rust
				option(data-att='sass') Sass
				option(data-att='scad') Scad
				option(data-att='scala') Scala
				option(data-att='scheme') Scheme
				option(data-att='scss') Sassy CSS
				option(data-att='sh') SH
				option(data-att='snippets') Snippets
				option(data-att='sql') SQL
				option(data-att='stylus') Stylus
				option(data-att='svg') SVG
				option(data-att='tcl') TCL
				option(data-att='tex.text') Tex.Text
				option(data-att='textile') Textile
				option(data-att='tmsnippet') TMSnippet
				option(data-att='toml') Toml
				option(data-att='typescript') Typescript
				option(data-att='vbscript') VBScript
				option(data-att='velocity') Velocity
				option(data-att='xml') XML
				option(data-att='xquery') X-Query
				option(data-att='yaml') YAML
		div.span2
			button#go_btn.btn.btn-large.btn-primary(type='button') GO
		div.span2
block end
	script(type='text/javascript', src='/javascripts/codesoar.home.js', charset='utf-8')